.arrival__inner {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.arrival__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-md);

  padding-bottom: var(--space-sm);

  border-bottom: var(--border-light);
}

.arrival__content {
  display: grid;
  grid-template-columns:
    minmax(0, 1.25fr)
    minmax(18rem, 0.75fr);

  align-items: center;
  gap: var(--space-lg);

  padding: var(--space-lg) 0;
}

.arrival__introduction {
  display: grid;
  gap: var(--space-md);
}

.arrival__description {
  max-width: 28rem;
}

.arrival__form {
  display: grid;
  gap: var(--space-md);
}

.arrival__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-md);

  padding-top: var(--space-sm);

  border-top: var(--border-light);
}

/* Tablet */

@media (max-width: 900px) {
  .arrival__content {
    grid-template-columns: 1fr 18rem;
    gap: var(--space-md);
  }
}

/* Mobile */

@media (max-width: 700px) {
  .arrival__header {
    align-items: flex-start;
  }

  .arrival__content {
    grid-template-columns: 1fr;
    align-content: center;

    gap: var(--space-lg);
  }

  .arrival__description {
    font-size: var(--font-size-md);
  }

  .arrival__footer {
    align-items: flex-end;
  }

  .privacy-note {
    max-width: 12rem;

    text-align: right;
  }
}
